<div class="p-2">
  <div class="col text-end pb-2">
    <div ngbDropdown class="d-inline-block">
      <button 
        type="button"
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle>
        Change theme
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="changeTheme('light')">Light</button> <!-- Do an action -->
        <button ngbDropdownItem (click)="changeTheme('dark')">Dark</button> <!-- Do an action -->
      </div>
    </div>
  </div>
  <router-outlet />
</div>
